<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Team {{{team}}} Website</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
      <text y=%22.9em%22 font-size=%2290%22>
        🔥
      </text>
    </svg>">
    <link rel="stylesheet" href="/stylesheets/base.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/vader/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div>
        <h1>Welcome to {{{team}}}'s application.</h1>
    </div>
    <div>
        <div>
            <h4>API Version: {{{apiVersion}}}</h4>
        </div>
        <div>
            <h4>UI Version: {{{uiVersion}}}</h4>
        </div>
    </div>
</div>
{{{body}}}
</body>
</html>
